<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Zombies</h1>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Graveyard</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <%@zombies.each do |zombie|%>
        <tr>
          <td><%=zombie.name%></td>
          <td><%=zombie.graveyard%></td>
          <td>editar</td>
          <td>borrar</td>
        </tr>
        <%end%>
      </table>
      <div class="">
        <%=link_to "Crear un nuevo zombie", new_zombie_path, class:"btn btn_primary btn-lg btn-block"%>
      </div>
    </div>
  </div>
</div>
