// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zombie-page {
  .zombie-header {
    background: #303030;
    color: #fafaf2;
    text-align: center;
    padding: 100px 25px;
    margin-top: -20px;
    margin-bottom: 30px;

    h1 {
      font-size: 32px;
      margin-top: 0;
    }

    p {
      font-size: 18px;
      color: #ddd;
      margin-top: 15px;
      margin-bottom: 40px;
    }
  }
}

.navbar{
	background-color: #e3f2fd;
	padding: 20px;
}

.navbar-brand{
	float: inherit;
}

.btn-outline-success{
	margin-right: 100px;
	padding: 10px;
	margin-top: 10px;
	float: right;
}

.second{
	margin-right: 20px;
}
